/*RESET CSS BEGIN*/


/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}


/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

input, button { border:none; }

html, body {
    line-height: 1;
    font-family: 'Montserrat', sans-serif;
    -webkit-animation: load 1s;
            animation: load 1s;
}

body {
  overflow-x: hidden;
  overflow-y: overlay;
}

::-webkit-scrollbar
  {
          overflow:hidden;
          width:5px;
          background:transparent;
          border-radius:3px;
  }
          ::-webkit-scrollbar:horizontal
          {
                  height:5px;
          }
  ::-webkit-scrollbar-button
  {
         display:none;
  }
  ::-webkit-scrollbar-piece
  {
          background:transparent;
  }
          ::-webkit-scrollbar-piece:start
          {
                  background:transparent;
          }
  ::-webkit-scrollbar-thumb
  {
          overflow:hidden;
          border-radius:3px;

          background:#505354;
  }
  ::-webkit-scrollbar-corner
  {
          overflow:hidden;
          border-radius:3px;

          background:#505354;
  }


a {
  text-decoration: none;
}

a:hover {
  cursor: help;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

/*RESET CSS END*/


/*HELPER CLASS BEGIN*/

img {
  max-width: 100%;
}

.alignLeft {
    float: left;
}

.alignRight {
    float: right;
}

.no-margin-bottom {
    margin-bottom: 0;
}

.margin-bottom-10 {
    margin-bottom: 10px;
}

.margin-bottom-20 {
    margin-bottom: 20px;
}

.margin-bottom-30 {
    margin-bottom: 30px;
}

strong,
b {
    font-weight: 700;
}

em,
i {
    font-style: italic;
}

p,
ul li,
ol li {
    font-size: 16px;
    line-height: 23px;
    margin: 0 0 20px 0;
}

ul li,
ol li {
    margin-bottom: 10px;
}


/*HELPER CLASS END*/

* {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    outline: 0;
}

@-webkit-keyframes load {
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}

@keyframes load {
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}


@-webkit-keyframes into {
  0% {
    -webkit-transform: translateY(3%);
            transform: translateY(3%);
    opacity: 0;
  }

  25% {
    opacity: 0;
  }

  35% {
    -webkit-transform: translateY(3%);
            transform: translateY(3%);
  }

  100% {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
    opacity: 1;
  }
}


@keyframes into {
  0% {
    -webkit-transform: translateY(3%);
            transform: translateY(3%);
    opacity: 0;
  }

  25% {
    opacity: 0;
  }

  35% {
    -webkit-transform: translateY(3%);
            transform: translateY(3%);
  }

  100% {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
    opacity: 1;
  }
}

@-webkit-keyframes into_2 {
  0% {
    -webkit-transform: translateY(-20%);
            transform: translateY(-20%);
    opacity: 0;
  }

  25% {
    opacity: 0;
  }

  35% {
    visibility: visible;
    -webkit-transform: translateY(-20%);
            transform: translateY(-20%);
  }

  100% {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
    opacity: 1;
  }
}

@keyframes into_2 {
  0% {
    -webkit-transform: translateY(-20%);
            transform: translateY(-20%);
    opacity: 0;
  }

  25% {
    opacity: 0;
  }

  35% {
    -webkit-transform: translateY(-20%);
            transform: translateY(-20%);
  }

  100% {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
    opacity: 1;
  }
}

/* NAVIGATION BAR STYLE START */


header {
  background-color: transparent;
  width: 100%;
  position: relative;
}

header.sticky {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.8);
  -webkit-transform: translateY(-200%);
          transform: translateY(-200%);
  -webkit-transition: 2s;
  transition: 2s;
  z-index: 5;
  width: calc(100% + 5px);
}

body.scroll header.sticky {
  -webkit-transform: translateY(0);
          transform: translateY(0);
          -webkit-transition: 1s;
          transition: 1s;
}




.nav-wrapper {
  max-width: 100%;
  margin: 0 auto;
  position: relative;
  padding: 7px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;  /* Flexboxを使って子要素を横並びにする */
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;  /* 子要素の左右の配置を決定 */
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;  /* 子要素の上下の配置を決定 */
  }

ul.menu {
  position: absolute;
  right: 30px;
}

.menu li {
  display: inline-block;
  padding: 0 5px;
  margin: auto;
  }
.menu li a {
  font-size: 17px;
  line-height: 22px;
  padding: 3px 5px;
  color: #FFF;
  cursor: help;
  text-decoration: none;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  border-bottom: 1px solid transparent;
}
.menu li a.active {
  border-bottom: 3px solid #fff;
}

.menu li a:hover {
  border-bottom: 1px solid #FFF;
}

  ul.menu-sns { display: none; }


/*
nav.nav-wrapper ul li {
  display: inline-block; /* display: inline-flex;
}*/

header .logo img {
  max-width: 100px;
}

div.wrapper {
  max-width: 1100px;
  width: 90%;
  margin: 0 auto;
}


/* PARALLAX PAGE STYLES START */

.cover-main {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5))), url('../images/hero-bg.jpg') right bottom;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../images/hero-bg.jpg') right bottom;
  background-repeat: no-repeat;
  background-size: cover;
  height: 400px;
}

.wrapper {
}

ul#scene {
  margin-top: 100px;
  height: 100%;
}

ul#scene li.name {
  text-align: center;
  font-size: 48px;
  font-weight:700;
  line-height: 45px;
  text-transform: uppercase;
  color: #fff;
  width: 100%;
  -webkit-animation: into_2 3s;
          animation: into_2 3s;
}

ul#scene li.title {
  text-align: center;
  font-size: 28px;
  line-height: 35px;
  color: #fff;
  width: 100%;
  margin-top: 60px;
  letter-spacing: 5px;
  -webkit-animation: into_2 3s;
          animation: into_2 3s;
}

.btn {
  margin-top: 150px;
  width: 100%;
  text-align: center;
  display: inline-block;
  -webkit-animation: into_2 3s;
          animation: into_2 3s;
}

.portfolio-btn,
.contact-btn {
  margin: 0 auto;
  padding: 10px 20px;
  border: 1px solid #fff;
  background: transparent;
  color: #fff;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  position: relative;
}

.portfolio-btn::after,
.contact-btn::after {
  position: absolute;
  top: 0px; left: 0px;
  width: 100%;
  height: 100%;
  content: '';
  z-index: -1;
  -webkit-transform: scale(.3);
          transform: scale(.3);
  -webkit-transition: all .4s;
  transition: all .4s;
  -webkit-transform-origin: center center;
          transform-origin: center center;
  background: rgba(255, 255, 255,0);
}

.portfolio-btn:hover::after,
.contact-btn:hover::after {
  -webkit-transform: scale(1);
          transform: scale(1);
  background: rgba(255, 255, 255,1);

}


.portfolio-btn:hover,
.contact-btn:hover {
  color: #000;
}

.portfolio-btn {
  margin-right: 30px;
}

.contact-btn {
  margin-left: 30px;
}

/* PARALLAX PAGE STYLES END */

h2.sub-title {
  position: relative;
  display: block;
  margin: 70px auto;
  text-align: center;
  font-size: 35px;
  line-height: 40px;
}

h2.sub-title::after {
  display: block;
  height: 2px;
  background-color: #000;
  content: "";
  width: 10vw;
  margin: 30px auto 0 auto;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

h2.sub-title:hover::after {
  background-color: #000;
  width: 25vw;
}

/* MASONRY JS STYLES START */

.masonry-grid {

  -webkit-animation: into 2.5s;
          animation: into 2.5s;
  margin-bottom: 50px;
}

.grid {
  margin: 0 auto;
  -webkit-perspective: 1300px;
          perspective: 1300px;
}


.grid-item, .grid-sizer {
  width: 350px;
  margin-bottom: 10px;
  position: relative;
  overflow: hidden;
}

.grid-item img {
	outline: none;
	border: none;
	display: block;
  width: 350px;
}

.tall-img {
  width: 350px;
}

/* HOVER ANIMATION */

.pater-content {
  position: absolute;
  top: 0px;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  visibility: hidden;
}


.pater-title {
  text-align: center;
  color: #fff;
}

.grid-item:hover .pater-content {
-webkit-transform: translateY(0);
        transform: translateY(0);
  cursor: help;
  visibility: visible;
}

/* MASONRY JS STYLES END */


/* MASONRY Effect : Move Up */
.grid-item.animate {
	-webkit-transform: scale(0.7);
	transform: scale(0.7);
	-webkit-animation: zoom 0.65s ease forwards;
	animation: zoom 0.65s ease forwards;
}

@-webkit-keyframes zoom {
	0% { }
	100% { -webkit-transform: scale(1); opacity: 1; }
}

@keyframes zoom {
	0% { }
	100% { -webkit-transform: scale(1); transform: scale(1); opacity: 1; }
}

/* MASONRY Effect : Move Up END */

/* About Me */

#about {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0,0,0,0.6)), to(rgba(0,0,0,0.6))), url('../images/hero-bg.jpg') no-repeat right bottom / cover;
  background: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url('../images/hero-bg.jpg') no-repeat right bottom / cover;
}

section.beating-heart {
  height: 100vh;
  padding: 0px 10px;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-item-align: center;
      align-self: center;
  text-align: center;
}

.photo {
  width: 100%;
  margin: 0 auto;
  margin-bottom: 30px;
  -webkit-transform: rotate(135deg);
          transform: rotate(135deg);
  overflow: hidden;
}

section.beating-heart .wrapper {
}

.photo img{
  width: 150px;
  border-radius: 2em;
  -webkit-transform: rotate(-135deg);
          transform: rotate(-135deg);
}

.p-content {
  text-align: center;
  font-size: 1.2em;
  line-height: 180%;
  padding-bottom: 40px;
  font-family: 'Noto Sans JP';
  font-weight: 400;
  letter-spacing: 1px;
}

.aboutme {
  -webkit-transform: translateX(10%);
          transform: translateX(10%);
  -webkit-transition: all 0.8s;
  transition: all 0.8s;
}

.aboutme.active {
    -webkit-transform: translateX(0);
            transform: translateX(0);
}

section.beating-heart h2::after {
  background-color: #fff;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

section.beating-heart h2.sub-title:hover::after {
  background-color: #fff;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

section.beating-heart span {
  font-size: 60px;
  line-height: 105px;
  text-align: center;
}

section.beating-heart img {

}
.heart {
  position: relative;
  height: 60px;
  margin: 0 50px;
  fill: #EE817E;
  -webkit-animation: pulse 1s infinite;
          animation: pulse 1s infinite;
}

@-webkit-keyframes pulse {

  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }

  15% {
    -webkit-transform: scale(1.35);
            transform: scale(1.35);
  }

  25% {
    -webkit-transform: scale(1.15);
            transform: scale(1.15);
  }
  35% {
    -webkit-transform: scale(1.25);
            transform: scale(1.25);
    fill: #f37167;
  }

  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    fill: #EE817E;
  }
}

@keyframes pulse {

  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }

  15% {
    -webkit-transform: scale(1.35);
            transform: scale(1.35);
  }

  25% {
    -webkit-transform: scale(1.15);
            transform: scale(1.15);
  }
  35% {
    -webkit-transform: scale(1.25);
            transform: scale(1.25);
    fill: #f37167;
  }

  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    fill: #EE817E;
  }
}

/* Photography Animation END */

/* SLIDER START */

.slider-div h2 {
  margin-bottom: 0;
}

.slider {
  margin: 20px auto;
  text-align: center;
  padding: 20px 50px;
  color: #fff;
}

.slide {
  max-height: 300px;
  padding: 15px;
}

.slick-prev,
.slick-next {
  background: transparent;
  width: 40px;
  height: 100%;
  z-index: 1;
}

.slick-prev:hover,
.slick-next:hover {
  background: rgba(238,238,238,0.8);
}


.slick-prev {
  left: 0;
}

.slick-prev::before {
    content: "◀" !important;
    color: #000;
}

.slick-next {
  right: 0;
}

.slick-next::before {
    content: "▶" !important;
    color: #000;
}


/* SLIDER END */


/* FOOTER START */

footer {
  position: relative;
  z-index: -2;
  height: 150px;
  background: #000;
  color: #fff;
  text-align: center;
}

div.footer {
  position: fixed;
  bottom: 50px;
  left: 50%;
  width: 800px;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
  font-size: 20px;
  line-height: 25px;
  color: #fff;
  text-align: center;
  font-family: 'Ubuntu';
  letter-spacing: 1px;
}

span.credit {
  font-size: 0.8em;
}



div#totop {
  position: fixed;
  right: 1rem; bottom: 1rem;
  display: none;
}

.totop{
width: 3.8rem;
height: 3rem;
padding: 0px;
margin: 0;
border: 0;
border-radius: 0.5em;
opacity: 0.6;
background: #000;
cursor: pointer;
z-index: 11;
}


.totop::before {
  content: '▲';
  color: #fff;
}
.totop::after {
	content:'TOP';
  color: #fff;

}
.totop:focus {outline: none;}

/* FOOTER END */

/* TRIGGER MENU START */

@media only screen and (max-width: 1160px){
  section.beating-heart span {
     font-size: 30px;
     line-height: 35px;
  }

  .heaart {
    width: 50px;
    margin: 0 20px;
  }
}

@media only screen and (max-width: 768px){
  div.menu-trigger {
    background: url('../images/hamburger-icon.svg') no-repeat center / cover;
    width: 30px;
    height: 30px;
    display: block;
    z-index: 15;
    position: absolute;
    right: 10px;
    top: 15px;
  }

  .main-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0,0,0,0.7);
    z-index: 5;
    display: none;
  }

  .main-overlay::after {
    background: url('../images/close-icon.svg') no-repeat center / cover;
    content: '';
    width: 30px;
    height: 30px;
    display: block;
    position: fixed;
    top: 10px; right: 10px;
    z-index: 20;
  }

  ul.menu {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    background: #131313;
    width: 100%;
    max-width: 40vw;
    z-index: 30;
    -webkit-transform: translate3d(-100%, 0, 0);
            transform: translate3d(-100%, 0, 0);
    -webkit-transition: 0.4s;
    transition: 0.4s;
    padding: 30px 20px;
  }
  nav.nav-wrapper ul li {
    display: block;
    margin-top: 10px;
    padding: 0;
    padding-bottom: 10px;
    border-bottom: #eee 1px solid;
    color: #eee;
  }

  nav.nav-wrapper ul li a {
    font-size: 14px;
    line-height: 20px;
    display:block;
  }

  nav.nav-wrapper ul li a:hover {
    border-color: transparent;
  }

  body.menu-is-active .menu {
    -webkit-transform: translate3d(0,0,0);
            transform: translate3d(0,0,0);
    display:block;
    padding: 30px 20px;
  }

  body.menu-is-active .main-overlay{
    display: block;
  }

  body.menu-is-active .menu-trigger {
    display: none;
  }


  body.menu-is-active header.sticky {display: none;}


  .totop::after { display: none; }
  .totop { width: 2rem; height: 2rem; border-radius: 999em;}


  ul.menu-sns {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 40vw;
    position: fixed;
    bottom: 0;
    left: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
            transform: translate3d(-100%, 0, 0);
    -webkit-transition: 0.4s;
            transition: 0.4s;
    overflow:hidden;
    background: -webkit-gradient(linear, left top, right top, from(rgba(0,0,0, 0.3)), color-stop(90%, rgba(255,255,255, 0.8)));
    background: linear-gradient(90deg, rgba(0,0,0, 0.3), rgba(255,255,255, 0.8) 90%);
    padding-right: 20px;
  }

  ul.menu-sns li.sns {
    padding: 0px 0px 0px 15px;
  }

  li.sns img {
    max-width: 50px;
    max-height: 50px;
  }

  body.menu-is-active ul.menu-sns {
    -webkit-transform: translate3d(0,0,0);
            transform: translate3d(0,0,0);
    z-index: 31;

  }

  ul.menu-sns li.sns {
    display: inline-block;
    border: none;
  }



}


@media only screen and (max-width: 560px) {

  ul#scene li.name {
    font-size: 25px;
    line-height: 30px;
  }

  ul#scene li.title {
    font-size:  18px;
    line-height: 23px;
    margin-top: 50px;
  }

  .btn {
    margin-top: 100px;
    padding-bottom: 50px;
  }

  ul#scene {
    margin-top: 70px;
   }

  .portfolio-btn,
  .contact-btn {
    display: block;
    margin: 10px auto;
    max-width: 120px;
    font-size: 14px;
    line-height: 19px;
    padding: 10px 0;
  }

  h2.sub-title {
    margin: 30px auto;
    font-size: 23px;
    line-height: 28px;
  }

  section.beating-heart {
    height: initial;
  }

  section.beating-heart .wrapper {
    padding-bottom:20px;
  }


  section.beating-heart span {
    line-height: 40px;
    font-weight: 700;
  }

  .photo img {
    width: 120px;
  }

  .p-content {
    font-size: 1.1em;
  }

  .heart {
    height: 30px;
  }

  footer {
    height: 60px;
  }

  div.footer {
    font-size: 0.9em;
    line-height: 1em;
    bottom: 15px;
  }

  span.credit {
    font-size: 0.6em;
  }

  .grid-sizer, .grid-item {
    width: 80vw;
  }

  .grid-item img {
    width: 80vw;
  }

  ul.menu {
    max-width: 70vw;
  }

  ul.menu-sns {
    width: 70vw;
  }

  li.sns img {
    max-width: 30px;
    max-height: 30px;
  }

}

@media only screen and (max-width: 380px) {
  h2.sub-title {
    font-size: 1.2em;
  }

  h2.sub-title::after {
    margin: 20px auto 0 auto;
  }

  section.beating-heart span {
    line-height: 40px;
    font-weight: 700;
    font-size: 1.5em;
  }

  svg.heart {
    width: 30px;
  }

  .photo img {
    width: 100px;
  }

  .p-content {
    font-size: 1em;
  }
}

@media only screen and (max-width: 350px) {
  .p-content {
    font-size: 0.8em;
  }
}
